<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
         <% if (orders.length <= 0) { %>
            <h1>No orders Found</h1>
            <% } else { %>
                <table></table>
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let order of orders) { %>
                            <tr>
                                <td><%= order.id %></td>

                                <ul><%= order.products.forEach(item=>
                                    { %>
                                        <li><%= item.title %> ( <%= item.orderItem.qty %> )</li>
                                        <%= }); %></ul>
                              
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>